$white: #ffffff;
$black: #000000;
$pink: #f38181;
$yellow: #fce38a;

$different-gray: #f8f8f8;
$light-gray: #e5e5e5;
$medium-gray: #999999;
$dark-gray: #333333;
$subtle-gray: #95e1d3;
$min-gray: #cccccc;

$gradient-pink: rgba(233, 130, 132, 0.82);
$gradient-yellow: rgba(238, 216, 137, 0.82);
$gradient-black-light: rgba(255, 255, 255, 0.3);
$gradient-black-strong: rgba(255, 255, 255, 0.75);

$transition: all 0.3s;

$font-h2: "Kaushan Script";
$font-alternative: "Roboto";
$font-bold: 700;
$font-normal: 400;