/* Hamburger menu ***************************************/
@media (max-width: 880px) {
  header nav .menu ul {
    width: 50%;
    height: 100%;
    position: absolute;
    right: -50%;
    top: 70px;
    display: block;
    text-align: center; }
    header nav .menu ul li {
      background: rgba(0, 0, 0, 0.8);
      padding: 10px 0; }
      header nav .menu ul li:nth-child(6) a {
        margin: 0; }
  header nav .logo {
    position: absolute;
    left: 20px;
    top: 25px; }
  header .menu-icon {
    display: block; } }
/* Header *************************************************************/
@media (min-width: 1381px) {
  header .hero {
    margin-top: 80px; }
    header .hero h2 {
      font-size: 76px; }
    header .hero h1 {
      font-size: 134px; }

  nav .logo {
    padding-top: 30px; }
  nav ul {
    padding-top: 30px; } }
@media (max-width: 1380px) {
  header .hero {
    margin-top: 60px; }
    header .hero h2 {
      font-size: 46px; }
    header .hero h1 {
      font-size: 94px; }

  nav .logo {
    padding-top: 15px; }
  nav ul {
    padding-top: 15px; } }
@media (max-width: 1222px) {
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  header .hero h2 {
    font-size: 38px; }
  header .hero h1 {
    font-size: 70px; } }
@media (max-width: 880px) {
  header nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header nav .logo {
      padding: 0; }
  header .hero {
    margin-top: 150px; }
    header .hero h2 {
      font-size: 27px; }
    header .hero h1 {
      font-size: 58px; } }
@media (max-width: 680px) {
  header .hero h2 {
    font-size: 20px; }
  header .hero h1 {
    font-size: 48px; }
  header .hero .horizontal-line {
    margin: 30px auto !important; } }
/* About *******************************************/
@media (max-width: 1222px) {
  .about .about-gallery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .about .about-gallery .gallery-item {
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%; } }
@media (max-width: 866px) {
  .about .about-gallery .gallery-item {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%; } }
@media (min-width: 1000px) and (max-width: 1222px) {
  .about .about-gallery .gallery-item::before {
    height: 35%;
    width: 100%; }
  .about .about-gallery .gallery-item .icon {
    display: block;
    color: #fff;
    top: 85%;
    font-size: 20px; }
  .about .about-gallery .gallery-item p {
    font-size: 14px; }
  .about .about-gallery .gallery-item:hover .icon {
    top: 50%; } }
@media (min-width: 867px) and (max-width: 999px) {
  .about .about-gallery .gallery-item::before {
    height: 35%;
    width: 100%; }
  .about .about-gallery .gallery-item .icon {
    display: block;
    color: #fff;
    top: 85%;
    font-size: 17px; }
  .about .about-gallery .gallery-item p {
    font-size: 12px; }
  .about .about-gallery .gallery-item:hover .icon {
    top: 50%; } }
@media (min-width: 535px) and (max-width: 866px) {
  .about .about-gallery .gallery-item::before {
    height: 35%;
    width: 100%; }
  .about .about-gallery .gallery-item .icon {
    display: block;
    color: #fff;
    top: 85%;
    font-size: 25px; }
  .about .about-gallery .gallery-item p {
    font-size: 17px; }
  .about .about-gallery .gallery-item:hover .icon {
    top: 50%; } }
@media (min-width: 380px) and (max-width: 534px) {
  .about .about-gallery .gallery-item::before {
    height: 35%;
    width: 100%; }
  .about .about-gallery .gallery-item .icon {
    display: block;
    color: #fff;
    top: 90%;
    font-size: 19px; }
  .about .about-gallery .gallery-item p {
    font-size: 13px; }
  .about .about-gallery .gallery-item:hover .icon {
    top: 50%; } }
@media (min-width: 200px) and (max-width: 379px) {
  .about .about-gallery .gallery-item::before {
    height: 35%;
    width: 100%; }
  .about .about-gallery .gallery-item .icon {
    display: block;
    color: #fff;
    top: 90%;
    font-size: 12px; }
    .about .about-gallery .gallery-item .icon .fas {
      padding-top: 5px; }
  .about .about-gallery .gallery-item p {
    font-size: 9px; }
  .about .about-gallery .gallery-item:hover .icon {
    top: 50%; } }
/* Numbers *******************************************/
@media (max-width: 750px) {
  .numbers h1 {
    font-size: 50px; }
  .numbers span {
    font-size: 14px; }
  .numbers .numbers-box {
    padding: 70px 10px; } }
@media (max-width: 550px) {
  .numbers h1 {
    font-size: 40px; }
  .numbers span {
    font-size: 12px; }
  .numbers .numbers-box {
    padding: 50px 10px; } }
@media (max-width: 420px) {
  .numbers {
    display: none; } }
/* Services *******************************************/
@media (max-width: 1222px) {
  .services .row-items .horizontal-line-grey {
    display: none; }
  .services .row-items .item-box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px; }
  .services .row-items .box-logo img {
    width: 100%; }
  .services .row-items .box-info {
    width: 80%; } }
@media (max-width: 866px) {
  .services .row-items .item-box {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%; } }
@media (max-width: 530px) {
  .services .row-items .item-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .services .row-items .item-box .box-info,
    .services .row-items .item-box .box-logo {
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .services .row-items .item-box .box-info {
      padding-left: 0; }
    .services .row-items .item-box .box-logo {
      margin-bottom: 10px; } }
@media (max-width: 420px) {
  .services {
    background: #f4f4f4;
    padding: 50px 0 100px 0; }
    .services .row-items .item-box .box-info h3 {
      margin-bottom: 0; } }
/* Devices *******************************************/
@media (max-width: 1222px) {
  .devices {
    padding-bottom: 550px; }
    .devices .devices-item {
      bottom: -78px;
      left: 30%; }
      .devices .devices-item img {
        width: 85%; } }
@media (max-width: 935px) {
  .devices .devices-item {
    bottom: -77px;
    left: 25%; } }
@media (max-width: 935px) {
  .devices {
    padding-bottom: 50px; }
    .devices .devices-item {
      display: none; } }
/* What we do *****************************************/
@media (max-width: 1222px) {
  .what-we-do .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .what-we-do .row .row-photo {
      margin-bottom: 15px;
      width: 600px; }
      .what-we-do .row .row-photo img {
        width: 100%; }
    .what-we-do .row #accordion {
      width: 600px; } }
@media (max-width: 648px) {
  .what-we-do .row .row-photo {
    width: 100%; }
  .what-we-do .row #accordion {
    width: 100%; } }
/* Quotation *****************************************/
@media (max-width: 1222px) {
  .quotation .container {
    padding: 0 40px;
    width: 80%;
    margin-left: 10%; }
    .quotation .container .item img {
      padding: 20px; } }
@media (max-width: 820px) {
  .quotation .container .item img {
    padding: 25px; }
  .quotation .container .author {
    font-size: 20px; }
  .quotation .container blockquote {
    font-size: 16px; } }
@media (max-width: 620px) {
  .quotation {
    display: none; } }
/* Team ***************************************/
@media (max-width: 1080px) {
  .team .team-photos {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .team .team-photos .photo {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      margin: 20px; } }
@media (max-width: 620px) {
  .team {
    background: #f4f4f4; } }
@media (min-width: 1080px) and (max-width: 1222px) {
  .team .team-photos .portrait::before {
    width: 100%;
    height: 30%; }
  .team .team-photos .portrait .socials {
    opacity: 0.95;
    top: 85%; }
  .team .team-photos .portrait:hover .socials {
    top: 50%; } }
@media (min-width: 620px) and (max-width: 1079px) {
  .team .team-photos .portrait::before {
    width: 100%;
    height: 30%; }
  .team .team-photos .portrait .socials {
    opacity: 0.95;
    top: 85%; }
    .team .team-photos .portrait .socials .item {
      padding: 7px; }
      .team .team-photos .portrait .socials .item .fab {
        padding: 7px; }
  .team .team-photos .portrait:hover .socials {
    top: 50%; } }
@media (min-width: 500px) and (max-width: 619px) {
  .team .team-photos .portrait::before {
    width: 100%;
    height: 30%; }
  .team .team-photos .portrait .socials {
    opacity: 0.95;
    top: 85%; }
    .team .team-photos .portrait .socials .item {
      padding: 7px; }
      .team .team-photos .portrait .socials .item .fab {
        padding: 7px;
        margin-left: -10px; }
  .team .team-photos .portrait:hover .socials {
    top: 50%; } }
@media (min-width: 200px) and (max-width: 499px) {
  .team .team-photos .portrait::before {
    width: 100%;
    height: 30%; }

  .team .team-photos .photo .portrait .socials {
    opacity: 0.95;
    top: 85%; }
    .team .team-photos .photo .portrait .socials .item {
      padding: 7px 12px; }
      .team .team-photos .photo .portrait .socials .item .fab {
        padding: 7px 12px;
        margin-left: -15px; }
  .team .team-photos .photo .portrait:hover .socials {
    top: 50%; } }
/* Brands *******************************************/
@media (max-width: 1080px) {
  .brands .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .brands .container .container-item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      padding: 5px; }
      .brands .container .container-item img {
        width: 50%;
        margin-left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); } }
@media (max-width: 620px) {
  .brands .container .container-item img {
    width: 70%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }
@media (max-width: 420px) {
  .brands {
    display: none; } }
/* Work ***************************************/
@media (max-width: 1080px) {
  .work .work-gallery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .work .work-gallery .column {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
      .work .work-gallery .column .row .row-item::before {
        opacity: 0.15; }
      .work .work-gallery .column .row .row-item:hover::before {
        opacity: 0;
        cursor: pointer; } }
@media (max-width: 820px) {
  .work .work-gallery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .work .work-gallery .column {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin: 0 auto; } }
@media (max-width: 420px) {
  .work {
    padding-top: 80px; } }
/* Clients ***************************************/
@media (max-width: 1222px) {
  .clients .clients-box .row .box {
    padding: 10px 30px; } }
@media (max-width: 820px) {
  .clients .clients-box .row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .clients .clients-box .row .box {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      margin: 0 auto; }
      .clients .clients-box .row .box .photo img {
        -ms-flex-preferred-size: 510;
        flex-basis: 510;
        margin-right: 20px; } }
@media (max-width: 520px) {
  .clients .clients-box .row {
    margin-bottom: 0; }
    .clients .clients-box .row .box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 15px; }
      .clients .clients-box .row .box .info {
        text-align: center;
        margin-top: 10px; }
        .clients .clients-box .row .box .info .horizontal-line-red {
          margin: 0 auto !important; }
      .clients .clients-box .row .box .photo,
      .clients .clients-box .row .box .photo img {
        margin-right: 0; } }
/* Blog *******************************************/
@media (max-width: 1265px) {
  .blog.container .blog-posts {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .blog.container .blog-posts .post {
      margin: 20px 15px; } }
@media (max-width: 455px) {
  .blog .blog-posts .post {
    min-width: 90%; }
    .blog .blog-posts .post .image .post-date {
      left: 5px;
      bottom: 5px; }
      .blog .blog-posts .post .image .post-date h4 {
        font-size: 20px; }
      .blog .blog-posts .post .image .post-date p {
        font-size: 10px; }
    .blog .blog-posts .post .image .img-box img {
      width: 100%; } }
/* Footer *****************************************/
@media (max-width: 1222px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .container .box-gallery,
    footer .container .box-blog,
    footer .container .box-info {
      width: 80%; }
    footer .container .box-blog .box {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    footer .container .box-gallery .photos {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
@media (max-width: 580px) {
  footer {
    text-align: center; }
    footer .box-info .socials {
      text-align: center; }
      footer .box-info .socials .follow {
        display: block; }
    footer .box-info form .subscribe {
      display: block;
      width: 100%; }
    footer .box-info form input {
      width: 100%;
      text-align: center; }
    footer .box-blog {
      text-align: left; }
      footer .box-blog .box .text h2 {
        font-size: 10px; }
      footer .box-blog h1 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 10px; }
    footer .box-gallery h1 {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 10px; }
    footer .box-gallery .photos .item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin: 0; }
    footer .box-gallery,
    footer .box-blog,
    footer .box-info {
      width: 80%; } }
@media (max-width: 524px) {
  footer {
    text-align: center; }
    footer .box-blog .box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      footer .box-blog .box .text h2 {
        padding-top: 10px; }
      footer .box-blog .box .image {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
    footer .box-gallery .photos {
      width: 100%;
      margin: 10px auto; } }

/*# sourceMappingURL=media.css.map */
